<div class="nested-fields">
  <div class="field">
    <%= f.label :description, class: "block font-semibold" %>
    <%= f.text_field :description, class: "block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>
  <div class="field">
    <%= f.check_box :done %>
    <%= f.label :done %>
  </div>
  <%= link_to_remove_association 'remove task', f, class: 'btn btn-danger' %>
</div>
